*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E6;
}
/* formattazione titolo principale */
.titolo-principale{
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
/* inserimento font del titolo e dei nome delle carte */
.titolo-principale{
  font-family: 'Nerko One', cursive;
}

/* formattazione carta */
.carta{
  width:20%;
  display: inline-block;
  padding:10px;
  background-color: #fff;
  margin: 0 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}

.riga-carte{
  text-align: center;
  max-width: 1024px;
  margin:auto;
  margin-bottom: 20px;
}
.carta img{
  width:100%;
}
.nome-carta{
  font-size: 40px;
  color: #E41B86;
  font-family: 'Nerko One', cursive;
}
/* inserimento retro della carta */
.carta{
  background-image: url('../img/pattern.png');
  background-size: contain;
}

/* effetto carta girata */

.carta img, .nome-carta{
  visibility: hidden;
}

.carta:hover, #carta-aperta{
  background-image: none;
}
.carta:hover img, .carta:hover .nome-carta,
#carta-aperta img, #carta-aperta .nome-carta
{
  visibility: visible;
}
